---
import { getOffre } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";
export const prerender = false;
const { id } = Astro.params;
const offre = await getOffre(id);
---

<Base titre={offre.nom_maison}>
    <h2>{offre.nom_maison}</h2>
    <button><a href="../">Retour en arriere</a></button>
    <ul>
        <li>{offre.adresse}</li>
        <li>Adresse : {offre.adresse}</li>
        <li>Surface : {offre.surface} m²</li>
        <li>Prix : {offre.prix} €</li>
        <li><img src={offre.imageUrl} alt={offre.nom_maison} /></li>
    </ul>
</Base>
